<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="/static/js/index.js"></script>
<title>EMBEBIDOS</title>
</head>
<body>
<h1>UNIVERSIDAD NACIONAL DE CHIMBORAZO</h1>
<h1>Sitemas Embebidos</h1>
<p>Bienvenido: Ingrese su pin de acceso</p>
			<input type="text" id="datos">
			<button type="button" id="enviar">ENVIAR</button>
			<ul id="ver"></ul>
			<p>Restablecer contraseña</p>
			<input type="text" id="datos">
			<button type="button" id="enviar">ENVIAR</button>
			<ul id="ver"></ul>
<h2>Estado led 1:</h2><h2 id="estado1">----</h2>
<h2>Estado led 2:</h2><h2 id="estado2">----</h2>
<button id = 'LED1'type="button" onclick="LED1_On();">
Mostrar Historial!</button>
<h2></h2><h2 id="his">----</h2>

<script>

/*function LED1_On() {
	alert("led on");
	console.log("led on");
  
}
function LED1_Off(){
	alert("led off");
	console.log("led off");
}
*/
</script>
</body>
</html>
